@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



*  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}
.body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(68, 68, 173);
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
}

.container {
    width: 84%;
    height: 99%;
    background-color: rgb(253, 227, 211);
    display: flex;
    flex-flow: column nowrap;
    justify-content: ;
    align-items: center;
    border-radius: 5px;
}

.header {
    width: 80%;
    height: 80px; 
    margin-top: 20px;
    background-image: linear-gradient(to right, rgb(201, 201, 142), rgba(255, 169, 169, 0.884));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.header h1 {
    font-size: 1.5em;
    color: rgba(156, 118, 46, 0.973);
}
.header p {
    padding-top: 5px;
    color: rgb(141, 95, 8);
}


.menu {
    margin-top: 15px;
}
.button {
    padding: 6px;
    border: none;
    border-radius: 3px;
    background-color: rgba(255, 169, 169, 0.438);
    color: rgb(126, 92, 71);
    box-shadow: 0px 0px 5px rgba(255, 169, 169, 0.452);
    cursor: pointer;
}
.button:hover {
    background-color: rgba(255, 169, 169, 0.753);
    box-shadow: 0px 0px 5px rgba(255, 169, 169, 0.836);
    cursor: pointer;
}

.img {
    width: 90%;
    height: 20%;
    margin-top: 5px;
    background-color:  rgb(253, 227, 211);
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
img {
    width: 25%;
    height: 80%;
    padding: 0px 2px 0px 2px;
    background-size: cover; 
    border-radius: 7px;  
}

.conteudo {
    width: 80%;
    height: 30%;
    display: flex;
    background-color: antiquewhite;
}
.quem-somos {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(imagens/quemsomos2.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
    background: ;

}


.side-bar {
    width: 15%;
    height: 99%;
    background-color: rgb(68, 68, 173);
    border-radius: 5px 0px 0px 5px;

}