<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Pet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="body">
        <div class="container">
            <div class="header">
                <h1>Não compre uma vida, adote uma!</h1>
                <p>Encontre aqui seu melhor amigo de vida e descubra o amor incondicional!</p>
            </div>
            <div class="menu">
                <button class="button">Anterior</button>
                -
                <button class="button">1</button>
                -
                <button class="button">2</button>
                -
                <button class="button">3</button>
                -
                <button class="button">4</button>
                -
                <button class="button">5</button>
                -
                <button class="button">Próximo</button>
            </div>
            <div class="img">
                <img class="pet1" src="imagens/pet1.jpeg" alt="">
                <img class="pet2" src="imagens/pet2.jpeg" alt="">
                <img class="pet3" src="imagens/pet3.jpeg" alt="">
                <img class="pet4" src="imagens/pet4.jpeg" alt="">
                <p class="hover-texto"></p>
            </div>
        
            <div class="conteudo">
                <div class="quem-somos">
                    <p>Equipe em busca de pessoas que querem um amor incondicional e que estejam dispostas a serem reciprocas!</p>
                </div>

            </div>
        </div>


        <div class="side-bar">



        </div>

    </div>
</body>
</html>